---
import Layout from '../../components/Layout.astro';
import Card from '../../components/Card.astro';
import TagList from '../../components/TagList.astro';
import { getCollection } from 'astro:content';

const posts = (await getCollection('posts', ({ data }) => !data.draft)).sort(
  (a, b) => b.data.pubDate.getTime() - a.data.pubDate.getTime()
);
---

<Layout title="Blog" description="Insights on teaching CS, curriculum, and pedagogy.">
  <h1>Blog</h1>
  <p><a href="/rss.xml">Subscribe via RSS</a></p>
  <div class="stack">
    {posts.map((post) => (
      <article class="post-list-item">
        <Card
          title={post.data.title}
          description={post.data.description}
          href={`/blog/${post.slug}`}
          meta={post.data.pubDate.toLocaleDateString()}
          variant="post"
        />
        <TagList tags={post.data.tags ?? []} />
      </article>
    ))}
  </div>
</Layout>
